<!doctype html>
<html>
    <head id="main-header">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/CSS/main_css.css">
        <link rel="stylesheet" type="text/css" href="/CSS/odbieranie_style.css">
        <meta charset="utf-8">
        <div style="float: right; margin-right: 10px; margin-top: 10px">
            <button onclick="window.location.href='/wylogowanie'" type="button" class="btn btn-primary btn">Log out</button>
        </div>
        <br>
        <title>{{ title }}</title>
        <title>Stream</title>
        <br>
        <div class="center">
        	<h1>Logged in as:</h1>
        	<h1 id="user">{{user}}</h1>
        </div>
        
    </head>
    <body>