{{> header}}
        
    <body>
        <br>
        <div class = "center">
            {{#if info}}
                <div class="alert alert-info" role="alert">
                    {{info}}
                </div>
            {{/if}}
        </div>
        <div class='center'>
            <div class="alert alert-light" role="alert">
                Are you sure to delete your profile?
            </div>
            <br>
            <div style='display:inline-block'>
                <form method='post'>
                    <button type="submit" name='canDelete' value='yes' class="btn btn-primary btn-lg">yes</button>
                    <button type="submit" name='canDelete' value='no' class="btn btn-primary btn-lg">no</button>
                </form>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>

