{{> header}}
    <body onload="sendThatLoad();" onunload="sendThatUnload();">    
        <audio id="faceDetectedAudio">
            <source src="/SOUNDS/facedetected.mp3" type="audio/mpeg">
        </audio>
        <br>
        <div class="center">
            <button id="btn2" onclick="startFaceDetect()" type="button" class="btn btn-primary btn-lg">Start face detecting</button>
            <button id="btn3" onclick="stopFaceDetect()" type="button" class="btn btn-primary btn-lg">Stop face detecting</button>

            <br><br>
        
            <button id="cam1btn" onclick="showVideo(1)" type="button" class="btn btn-primary">cam 1</button>
            <button id="cam2btn" onclick="showVideo(2)" type="button" class="btn btn-primary">cam 2</button>
            <button id="cam3btn" onclick="showVideo(3)" type="button" class="btn btn-primary">cam 3</button>
            <button id="cam4btn" onclick="showVideo(4)" type="button" class="btn btn-primary">cam 4</button>
            <button id="allCamBtn" onclick="showVideo('all')" type="button" class="btn btn-primary">All cams</button>
            <br><br>
            <button id='takephototoall' onclick='takephototoall();' type="button" class="btn btn-primary">Take photo of all</button>

            <br><br>
        
            
            
            
            

        </div>
        <br><br><br>
        <div class="center">
            <div id="video1div" class="videoElContainer">
                <video class="video" id="remoteVideo1" autoplay ></video>
                <button onclick="snapShot(remoteVideo1)" type="button" class="btn btn-primary">Take photo</button>

            </div>
            <div id="video2div" class="videoElContainer">
                <video class="video" id="remoteVideo2" autoplay ></video>
                <button onclick="snapShot(remoteVideo2)" type="button" class="btn btn-primary">Take photo</button>
            </div>
            <div id="video3div" class="videoElContainer">
                <video class="video" id="remoteVideo3" autoplay ></video>
                <button onclick="snapShot(remoteVideo3)" type="button" class="btn btn-primary">Take photo</button>
            </div>
            <div id="video4div" class="videoElContainer">
                <video class="video" id="remoteVideo4" autoplay ></video>
                <button onclick="snapShot(remoteVideo4)" type="button" class="btn btn-primary">Take photo</button>
            </div>
        </div>
        <canvas style="display: none;"></canvas>
        <br><br><br>
        
       
        <script src="/socket.io/socket.io.js"></script>
        <script src="/JS/odbieranie.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/adapterjs/0.15.3/adapter.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/adapterjs/0.15.3/adapter.screenshare.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/adapterjs/0.15.3/adapter.screenshare.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="/JS/jquery.facedetection.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        
    </body>
</html>