html { 
  background: radial-gradient(black 15%, transparent 16%) 0 0,
              radial-gradient(black 15%, transparent 16%) 8px 8px,
              radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
              radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
              background-color:#282828;
              background-size:16px 16px;
}

body {
	background: radial-gradient(black 15%, transparent 16%) 0 0,
              radial-gradient(black 15%, transparent 16%) 8px 8px,
              radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
              radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
              background-color:#282828;
              background-size:16px 16px;
}

.center {
	text-align: center;
}

.alert {
	display: inline-block;
}

input {
	width: 200px;
	height: 50px;
	text-align: center;
}

.outer_ {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle_ {
  display: table-cell;
  vertical-align: middle;
}

.inner_ {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

h1 {
  color: white;
}

.p {
  color: white;
}
