.video {
    background-color: rgba(121, 162, 229, 0.5);
    border-style: solid;
    border-color: #FFF;
    border-width: 3px;
    margin-right: 5px;
    margin-left: 5px;   
    width: 100%;
    height: 580px;
}

.localVideo{
    background-color: rgba(121, 162, 229, 0.5);
    border-style: solid;
    border-color: #FFF;
    border-width: 3px;
    margin-right: 5px;
    margin-left: 5px;   
    width: 24%;
    height: 580px;   
}

.center_video{
    display: table;
    margin: 0 auto;

}

.videoElContainer {
    display: inline-block;
    width: 24%;
}

.face {
    position: absolute;
    border: 2px solid #FFF;
}
